<div class="d-flex wrapper" [class.toggled]="toggled">
  <!-- Sidebar -->
  <div class="sidebar-wrapper bg-white border-right">
    <div class="sidebar-heading">Sidebar Acctions </div>
    <div class="list-group list-group-flush">
      <a *ngFor="let action of sidebarActions" class="list-group-item list-group-item-action bg-white">{{action.label}}</a>
    </div>
  </div>
  <!-- /Sidebar -->
  <!-- Page Content -->
  <div class="page-content-wrapper">
    <!-- Navbar -->
    <nav-bar (onSidebarToggle)="onSidebarToggle()"></nav-bar>
    <!-- Page Body -->
    <div class="page-body container-fluid">
        <router-outlet></router-outlet>
  </div>
  <!-- /Page Content -->
</div>