<div class="d-flex wrapper" [class.toggled]="toggled">
  <!-- Sidebar -->
  <div class="sidebar-wrapper bg-white border-right">
    <div class="sidebar-heading">Endpoints </div>
    <div class="list-group list-group-flush">
      <a *ngFor="let endpoint of endpoints" class="list-group-item list-group-item-action" [routerLink]="['/run-single']" >
        <div class="d-flex justify-content-center align-items-center">
            <div class="font-weight-bold mr-2">{{endpoint.method}}</div>
            <div>{{endpoint.url}}</div>
        </div>
      </a>
    </div>
  </div>
  <!-- /Sidebar -->
  <!-- Page Content -->
  <div class="page-content-wrapper">
    <!-- Navbar -->
    <nav-bar (onSidebarToggle)="onSidebarToggle()"></nav-bar>
    <!-- Page Body -->
    <div class="page-body container-fluid">
        <!-- <button (click)="add()">Add data to firebase</button>
        <button (click)="get()">Get data from firebase</button>
        <button (click)="getOne()">Get one document</button>
        <button (click)="updateOne()">Update one document</button>
        <button (click)="deleteOne()">Delete one document</button> -->
        <router-outlet></router-outlet>
  </div>
  <!-- /Page Content -->
</div>