<div class="row">
  <div class="col">
    <form class="form-inline mt-2 mb-2">
      <select class="form-control w-100px">
        <option value="">GET</option>
        <option value="">POST</option>
      </select>
      <input
        type="password"
        class="form-control w-auto"
        placeholder="https://www.google.com"
      />
      <button type="submit" class="btn btn-primary w-100px">Send</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <tabset>
      <tab heading="Headers">
        <button type="submit" class="btn btn-primary mt-2">
          Add Header
        </button>
        <table class="table table-striped mt-2">
          <thead>
            <tr>
              <th scope="col">Header</th>
              <th scope="col">Value</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Body">Body goes here</tab>
    </tabset>
  </div>
</div>
